body {
  background-color: rgb(166, 220, 238);
}
li {
  list-style-type: square;
  margin: 10px;
  background: #ffff;
  color: darkblue;
}
#aaa {
  font-weight: bold;
  color: brown;
  border: 4px solid;
}
